<div class="main-container">
    <div class="container">
        <div class="image-container">
            <div>
                <img src="assets/login-img.jpg" class="login-img">
            </div>
        </div>

        <div class="button-container">
            <div class="text-container">
                <span>Login To Your Candidate Repository</span>
                <span>Access candidate profiles and manage interview schedules efficiently with Candidate Repository</span>
            </div>
            <button class="login-btn" type="submit" (click)="login()">Login<img src="assets/log-in.svg"></button>
        </div>
    </div>
</div>